body {
  background-color: $body_bg_color;
}

.container {
  //disable modile containers for test
  max-width: 1110 + $grid-gutter-width;
  @media (min-width: 1500px) {
    max-width: $container-xxl + $grid-gutter-width;
  }
  @media (min-width: 1920px) {
    max-width: $container-xxxl + $grid-gutter-width;
  }
}

.sticky-footer {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: $body_mb_mob + $footer_height_mob;
    &.no-push-bottom {
      margin-bottom: $footer_height_mob;
    }
    &.no-push-bottom-mob {
      margin-bottom: $footer_height_mob;
    }
    .main {
      //padding-top: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer_height_mob;
    }
    @media (min-width: 400px) {
      &.no-push-bottom-mob {
        margin-bottom: $body_mb_mob + $footer_height_mob;
      }
    }
    @media (min-width: 992px) {
      margin-bottom: $body_mb + $footer_height;
      .footer {
        height: $footer_height;
      }
      &.no-push-bottom {
        margin-bottom: $footer_height;
      }
    }
  }
}
