*::-webkit-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*::-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
.form-control {
  border: $input_border;
  background-color: $input_bg;
  border-radius: $input_border_radius;
  padding: 20px;
  color: $input_txt_color;
  font-family: $input_txt_family;
  font-size: $input_txt_size;
  line-height: $input_txt_lh;
  font-weight: 400;
  &:hover {}
  &:focus {
    box-shadow: none;
  }
  &::placeholder {}
  &.form-control_header {
    padding: 8px;
    border: none;
    &:hover {}
    &:focus {
      box-shadow: none;
    }
  }
}
input.form-control {
  &.form-control_header {
    height: 40px;
  }
}


.autocomplete {
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  .autocomplete-list {
    background: #FFFFFF;
    box-shadow: 2px 6px 20px rgba(119, 119, 119, 0.18);
    border-radius: 5px;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    .autocomplete-list__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 9px;
      cursor: pointer;
      &:hover {
        color: #707070;
      }
    }
    .autocomplete-list__iconbox {
      width: 24px;
      min-width: 24px;
      height: 24px;
      min-height: 24px;
      background: #EEEEEE;
      border-radius: 100%;
      margin-right: 13px;
      position: relative;
    }
    .autocomplete-list__icon {
      width: 21px;
      height: 21px;
      fill: #585858;
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
    }
    .autocomplete-list__txt {
      font-family: $font_family;
      font-weight: $font_weight;
      font-size: 16px;
      line-height: 24px;
      color: #979797;
      strong {
        font-weight: bolder;
        color: #000;
      }
    }
  }
}

.inputwrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.inputwrap__input {
  width: 100%;
  padding: 8px 64px 8px 51px;
  background-color: #F5F5F5;
  border-radius: 5px;
  color: #979797;
  font-family: $font_family;
  font-weight: $font_weight;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none;
}
.inputwrap__input::placeholder {
  color: #979797;
  opacity: 1;
}
.inputwrap__iconbox {
  width: 31px;
  height: 30px;
  position: absolute;
  left: 12px;
  top: 5px;
}
.inputwrap__icon {
  width: 31px;
  height: 30px;
  fill: #585858;
}
.inputwrap__close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 13px;
  top: 5px;
  &:before {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    background-color: #C4C4C4;
    position: absolute;
    right: 29px;
  }
}
.inputwrap__close-icon {}

