.header {
  .header__inner {
    height: 89px;
  }
}

.header-logo {
  margin-right: 110px;
}
.header-location {
  margin: 0 auto 0 0;
  .location {
    margin-left: 15px;
  }
  .location-form {
    display: none;
  }
}

.icon-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
  .icon-title__icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    fill: #000;
  }
  .icon-title__txt {
    font-family: $font_family;
    font-weight: $font_weight;
    font-size: 18px;
    line-height: 24px;
  }
  &.icon-title_location {
    .icon-title__icon {
      width: 32px;
      height: 31px;
      margin-right: 20px;
    }
  }
  &.icon-title_search {
    .icon-title__icon {
      width: 25px;
      height: 25px;
      margin-right: 13px;
    }
  }
  &.icon-title_login {
    .icon-title__icon {
      width: 20px;
      height: 16px;
      margin-right: 14px;
    }
  }
}
.header-search {
  margin: 0 75px 0 auto;
}
.search {}
.header-authorization {
  margin: 0 65px 0 0;
  .login {
    padding: 0 10px 0 0;
  }
  .user {
    padding: 0;
  }
}
.header-cart {
  .cart {
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
    .cart__icon {
      width: 28px;
      height: 24px;
      fill: #000;
    }
  }
}

.navigation {
  width: 100%;
  min-height: 60px;
  background-color: #9CCB3B;
  padding: 10px 0;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  .nav__item {
    width: 140px;
    height: 40px;
    font-family: $font_family;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 6px 0;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    &:hover {}
    &.active {
      color: #000;
      border-radius: 5px;
      background-color: #fff;
    }
    &.nav__item_icon-shevron {
      background-image: url('../img/icons/shevron.svg');
    }
  }
}