$container-xxl:             1256px;
$container-xxxl:            1256px;
$body_bg_color:             #F3E4E1;
$btn_bg_color:              #E1C2BF;
$btn_hover_bg_color:        #E6B3AE;
$bg_dark_1:                 #E1C2BF;
$bg_light_1:                #F5D9D4;
$bg_light_2:                #E8E2DC;
$font_color:                #4E464F;
$font_color2:               #2A2531;
$font_family:               "ProximaNova", sans-serif;
$font_weight:               600;
$font_size:                 19px;
$font_size_mobile:          15px;
$body_mb:                   120px;
$body_mb_mob:               70px;
$font_family2:              "SFProText", serif;
$link_txt_family:           $font_family;
$link_color:                $btn_hover_bg_color;
$link_hover_color:          $font_color;
$footer_height:             108px;
$footer_height_mob:         236px;
$footer_text_color:         #F4F0EC;
$footer_text_color_hover:   $font_color;

//Form
$input_bg:                  $body_bg_color;
$input_hover_bg:            $input_bg;
$input_txt_family:          $font_family;
$input_txt_color:           $font_color;
$input_hover_txt_color:     $input_txt_color;
$input_placeholder_color:   rgba(78, 70, 79, 0.7);
$input_txt_xs_size:         15px;
$input_txt_xs_lh:           1.5;
$input_txt_size:            22px;
$input_txt_lh:              1.5;
$input_border:              1px solid $btn_bg_color;
$input_hover_border:        $input_border;
$input_border_radius:       0;
$textarea_border_radius:    0;
